<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Quem Vai Comigo</ion-card-subtitle>
      <ion-card-title>O que é ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descrição do que é ...
    </ion-card-content>
  </ion-card>
</ion-content>
