<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Criar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <!-- <ion-item text-center>
      <ion-label>Só vai levar alguns minutos</ion-label>
    </ion-item> -->
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome*</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">SobreNome*</ion-label>
        <ion-input formControlName="sobrenome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Turma*</ion-label>
        <ion-input formControlName="turma" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Horário de saída*</ion-label>
        <ion-datetime formControlName="horario" displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone*</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>
      <!-- <div formGroupName="passwordRetry">
        <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label stacked>Contraseña:</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="eye" item-start></ion-icon>
          <ion-label stacked>Confirmar contraseña:</ion-label>
          <ion-input formControlName="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>
        </ion-item>
      </div> -->
      <!-- <ion-row radio-group formControlName="gender">
        <ion-col>
          <ion-item>
            <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Mulher</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="man" item-start></ion-icon>
            <ion-label>Homem</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row> -->
    </ion-list>
    <div padding>
      <ion-button button shape="round" expand="block" type="submit" [disabled]="!myForm.valid">Guardar</ion-button>
    </div>
  </form>

</ion-content>
