<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <div text-center>
    <h1>Vem Comigo</h1>
  </div>
  <!-- class="login-content" -->
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <!-- <img src="http://placehold.it/300x200" /> -->
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!-- class="signup-col" -->
          <ion-button button expand="block" shape="round" class="submit-btn" type="submit" [disabled]="!registerForm.form.valid">Entrar</ion-button>
          <!-- <ion-button button expand="block" shape="round" color="secondary" class="register-btn" clear (click)="createAccount()">Create New Account</ion-button> -->
        </ion-col>
      </ion-row>

    </form>
  </div>

  <ion-button expand="block" shape="round" color="secondary" href="/register" routerDirection="forward">Novo Usuário</ion-button>

  <div padding-top style="display: flex;">
    <ion-button expand="block" color="danger" style="width: 50%;">
      <ion-icon name="logo-google"></ion-icon>
      <!-- LOGIN COM GOOGLE -->
    </ion-button>
    <ion-button expand="block" color="primary" style="width: 50%;">
      <ion-icon name="logo-facebook"></ion-icon>
      <!-- LOGIN COM FACEBOOK -->
    </ion-button>
  </div>
</ion-content>