.invalid {
  color: red;
}

.msgInvalid {
  color: red;
  font-size: 12px;
}

.sc-ion-button-md-h, .sc-ion-button-ios-h{
  font-weight: bold!important;
}

.item-interactive.sc-ion-item-md-h, .item-interactive.sc-ion-item-ios-h{
  border-width:2px!important;
  border: 2px solid #22a4ad;
  border-radius: 21px;
  --border-width: 0 0 0 0;
}

.cursor-pointer{
  cursor:pointer;
}