<ion-content>

  <div class="cabecalho">
    <ion-img src="assets/img/logo_login.png"></ion-img>
  </div>

  <ion-title text-center margin>Bem-Vinda!</ion-title>

  <div class="">
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item margin-top>
              <ion-input type="text" placeholder="Email" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
              <!-- [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)" -->
            </ion-item>
            <ion-item *ngIf="submitted && f.email.errors" class="ion-invalid">
              <div class="msgInvalid" *ngIf="f.email.errors.required">E-mail é obrigatório</div>
              <div class="msgInvalid" *ngIf="f.email.errors.email">E-mail deve ser um endereço válido</div>
            </ion-item>
            <ion-item margin-top>
              <ion-input type="password" placeholder="Password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f.password.errors" class="ion-invalid">
              <div class="msgInvalid" *ngIf="f.password.errors.required">Senha é obrigatória</div>
              <div class="msgInvalid" *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres.</div>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button button expand="block" shape="round" type="submit">Entrar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button button expand="block" shape="round" color="primary" fill="outline" href="/register"
              routerDirection="forward">Novo Usuário</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="8">
        <ion-list>
          <!-- 
            <ion-item (click)="loginGoogle()" class="cursor-pointer">

              <ion-icon name="logo-facebook"></ion-icon>
              Cadastrar com Facebook
            </ion-item>
           -->
          <!-- 
            <ion-item (click)="loginGoogle()" class="cursor-pointer">
              <ion-icon name="logo-google"></ion-icon>
              Cadastrar com google
            </ion-item> 
          -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>