.invalid {
    border: 1px solid #ea6153;
}

.fundo-tela {
    background-color: #488AFF;
}

.logo {
    color: #ffffff;
    margin-top: 85px;
    margin-bottom: 40px;
}

.titulo {
    color: #ffffff;
}

.barra-botoes {
    color: #ffffff;
}

.ionlist-custom-login {
    background-color: #488AFF;
    color: #ffffff;
}

.ion-input-custom-label {
    color: #ffffff;
}

.ion-input-custom {
    color: #ffffff;
    border-bottom:1px solid #ffffff;
}

.btn-logar {
    height: 40px;
    width: 100%;
    border: 1px;
    background-color: #3b5a9a;
    color: #ffffff;
    font-size: 20px;
}

.btn-facebook {
    display: inline-block;
    height: 40px;
    width: 50%;
    border: 1px;
    background-color: #3b5a9a;
    color: #ffffff;
    font-size: 20px;
}

.btn-google {
    display: inline-block;
    height: 40px;
    width: 90%;
    border: 1px;
    background-color: #e34007;
    color: #ffffff;
    font-size: 20px;
}