<!-- https://medium.com/appseed-io/integrating-firebase-password-and-google-authentication-into-your-ionic-3-app-2421cee32db9 -->
<!-- https://www.joshmorony.com/advanced-forms-validation-in-ionic-2/ -->
<ion-content padding>
  <!-- <p> Form Status: {{ loginForm.value | json }} </p>
  <p> Form Status: {{ loginForm.controls.email.valid }} </p> -->
  <h1 text-center>Vem Comigo</h1>
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list inset>
      <ion-item>
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input type="text" formControlName="email" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty && loginForm.controls.email.touched || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty && loginForm.controls.email.touched || submitAttempt)">
        <p>Por favor! Informe um e-mail válido.</p>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" formControlName="password"  [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty && loginForm.controls.password.touched || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty && loginForm.controls.password.touched || submitAttempt)">
        <p>Por favor! Campo obrigatorio.</p>
      </ion-item>
      <div padding-top text-end>
        <p>Esqueceu senha ?</p>
        <!-- <ion-button type="submit" expand="full">PRONTO!</ion-button> -->
      </div>
      <div padding-top>
        <button type="submit" ion-button class="btn-logar">Entrar</button>
      </div>
    </ion-list>
    <div padding>
      <p text-center>Ou</p>
      <button ion-button class="btn-facebook"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-button class="btn-google"><ion-icon name="logo-googleplus"></ion-icon></button>
    </div>
  </form>
</ion-content>