<!-- https://medium.com/appseed-io/integrating-firebase-password-and-google-authentication-into-your-ionic-3-app-2421cee32db9 -->
<!-- https://www.joshmorony.com/advanced-forms-validation-in-ionic-2/ -->
<ion-content padding class="fundo-tela">
  <h1 text-center class="logo">Vem Comigo</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginEmail()">
    <ion-list inset class="ionlist-custom-login">
      <div *ngIf="(user | async)?.email" class="row justify-content-center">
        <div class="media">
          <img class="d-flex mr-3" width="60" src="{{ (user | async)?.photoURL }}" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">{{ (user | async)?.displayName }}</h5>
            <p class="mt-0">{{ (user | async)?.email }}</p>
            <button (click)="logout()" class="btn btn-info">Sair</button>
          </div>
        </div>
      </div>
      <ion-item>
        <ion-label position="floating" class="ion-input-custom-label">E-mail:</ion-label>
        <ion-input type="text" class="ion-input-custom" formControlName="email" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty && loginForm.controls.email.touched || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty && loginForm.controls.email.touched || submitAttempt)">
        <p>Por favor! Informe um e-mail válido.</p>
      </ion-item>
      <ion-item>
        <ion-label class="ion-input-custom-label" position="floating">Senha:</ion-label>
        <ion-input type="password" class="ion-input-custom" formControlName="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty && loginForm.controls.password.touched || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty && loginForm.controls.password.touched || submitAttempt)">
        <p>Por favor! Campo obrigatorio.</p>
      </ion-item>
      <div padding-top text-end>
        <p>Esqueceu senha ?</p>
      </div>
      <div padding-top>
        <button type="submit" ion-button class="btn-logar" (click)="loginEmail()">Entrar</button>
        <!-- <button type="submit" ion-button class="btn-logar" (click)="logout()">Sair</button> -->
        <!-- <button type="submit" ion-button class="btn-logar" (click)="CadastrarUsuario()">Novo Usuario</button> -->
      </div>
    </ion-list>
  </form>
  <div padding-top text-center>
    <p class="barra-botoes">OU</p>
    <!-- 
      <button ion-button class="btn-facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </button> 
    -->
    <button ion-button class="btn-google" (click)="loginWithGoogle()">
      <ion-icon name="logo-google" style="margin-right: 5px;"></ion-icon>
      <span style="vertical-align: top;">Login com Google</span>
    </button>
  </div>
  <div padding style="color: #fff;">
    <a text-end style="color: #fff; font-size: 13px; padding-right: 48px;" (click)="CadastrarUsuario()">Novo aqui? Cadastre-se</a>
    <a text-start style="color: #fff; font-size: 13px;" (click)="EsqueceuSenha()">Esqueceu senha ?</a>
  </div>
</ion-content>