.invalid {
    border: 1px solid #ea6153;
}
.btn-logar {
    height: 40px;
    width: 100%;
    border: 1px;
    background-color: #3b5a9a;
    color: #ffffff;
    font-size: 20px;
}

.btn-facebook {
    display: inline-block;
    height: 40px;
    width: 50%;
    border: 1px;
    background-color: #3b5a9a;
    color: #ffffff;
    font-size: 20px;
}

.btn-google {
    display: inline-block;
    height: 40px;
    width: 50%;
    border: 1px;
    background-color: #e34007;
    color: #ffffff;
    font-size: 20px;
}