<ion-header>
  <ion-toolbar>
    <ion-title>
      #Quem vai comigo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Lista de disponibilidades</ion-list-header>
    <ion-item>
      <ion-icon name="car"></ion-icon> Isabella Silva
    </ion-item>
    <ion-item>
      <ion-icon name="car"></ion-icon> Isabella Silva
    </ion-item>
    <ion-item>
      <ion-icon name="car"></ion-icon> Isabella Silva
    </ion-item>
    <ion-item>
      <ion-icon name="car"></ion-icon> Isabella Silva
    </ion-item>
  </ion-list>
</ion-content>
