.spn-subtitle-destino {
    font-size: 10px;
    margin-right: 5px;
    color: green;
}

.title-destino {
    font-size: 10px;
    text-transform: uppercase;
}

.title-destino-destaque {
    font-size: 20px;
    padding-bottom: 1px; 
}

.avatar {
    border: 1px solid red;
    padding-right: 15px;
}