<ion-header>
  <ion-toolbar>
    <ion-title>
      #Quem vai comigo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <div style="margin-right: 2%;">
        <ion-avatar slot="start">
          <img src="assets/img/avatar-finn.png">
        </ion-avatar>
        Isabella
      </div>
      <ion-label>
        <div class="title-destino">
          <span class="spn-subtitle-destino">A-B</span>Destino</div>
        <h2>Tijuca</h2>
        <div class="title-destino">
          <span class="spn-subtitle-destino">
            <ion-icon name="car"></ion-icon>
          </span>Meio de Transporte</div>
        <h2>Carro</h2>
        <div class="title-destino">
          <span class="spn-subtitle-destino">
            <ion-icon name="pin"></ion-icon>
          </span>Ponto de encontro</div>
        <h2>Ponto de onibus</h2>
      </ion-label>
      <ion-label>
        <ion-avatar slot="start">
          <img src="assets/img/whatszap.png">
        </ion-avatar>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>