<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recuperar Senha</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <h1>Recuperar Senha</h1>
  <p>Digite abaixo o seu e-mail para que nos possamos lhe enviar uma nova senha.</p>
  <ion-item>
    <ion-icon name="mail"></ion-icon>
    <ion-input required type="text" placeholder="E-mail"></ion-input>
  </ion-item>
  <div padding>
    <ion-button color="primary" expand="full">REDEFINIR SENHA</ion-button>
  </div>
</ion-content>