<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>#Quem vai comigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/img/avatar-finn.png">
          </ion-avatar>
          <ion-label>
            <h2>Barra da Tijuca</h2>
            <h3>Carro</h3>
            <p>Parada de ônibus</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
