<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="E-mail" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f.email.errors" class="ion-invalid">
              <div class="msgInvalid" *ngIf="f.email.errors.required">E-mail é obrigatório</div>
              <div class="msgInvalid" *ngIf="f.email.errors.email">E-mail deve ser um endereço válido</div>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Senha (min 6 caracteres)" id="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f.password.errors" class="ion-invalid">
              <div class="msgInvalid" *ngIf="f.password.errors.required">Senha é obrigatória</div>
              <div class="msgInvalid" *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres.</div>
            </ion-item>
            <!-- 
              <ion-item>
                <ion-input placeholder="Confirme a senha" formControlName="password1"></ion-input>
              </ion-item> 
            -->
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" text-center>
          <!-- <div class="form-error">{{signupError}}</div> -->
          <ion-button type="submit" expand="block" shape="round" >
              <!-- [disabled]="!registerForm.valid" -->
            PRONTO!
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>