<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input placeholder="E-mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Senha (min 6 caracteres)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Confirme a senha"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <ion-button expand="block" shape="round" (click)="onClick()">
          PRONTO!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>