<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vem Comigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-avatar slot="start">
            <img src="assets/img/avatar.png" alt="">
        </ion-avatar>
        <ion-label>{{ this.currentUser?.displayName || this.currentUser?.email }}</ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>