<ion-header>
  <ion-toolbar>
    <ion-title>#VemComigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1 text-center>Bem-vinda!</h1>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha(min 6 caracteres)</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirme a senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <div padding>
    <ion-button expand="full">PRONTO!</ion-button>
  </div>
  <div class="btn-img" padding>
    <ion-icon size="large" name="logo-facebook"></ion-icon><span>Cadastrar com Facebook</span>
  </div>
  
</ion-content>